<h1 mat-dialog-title>Update Contact</h1>
<form [formGroup]="editContactForm" (ngSubmit)="addContant()">
  <mat-form-field class="full-width" appearance="legacy">
    <input matInput placeholder="Name" required formControlName="nameFormEditControl" name="name">
    <mat-error *ngIf="f.nameFormEditControl.errors">
      <div *ngIf="f.nameFormEditControl.errors.required">Name is <strong>required</strong></div>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="legacy">
    <input matInput placeholder="Surname" required formControlName="surnameFormEditControl" name="surname">
    <mat-error *ngIf="f.surnameFormEditControl.errors">
      <div *ngIf="f.surnameFormEditControl.errors.required">Surname is <strong>required</strong></div>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <span matPrefix>+27 &nbsp;</span>
    <input type="tel" matInput placeholder="Phone Number" maxlength="10" required formControlName="phoneNumberFormEditControl" name="phoneNumberr">
    <mat-error *ngIf="f.phoneNumberFormEditControl.errors">
      <div *ngIf="f.phoneNumberFormEditControl.errors.required">Phone number is <strong>required</strong></div>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Update Contact</button>
  </div>
</form>
