.phonebookContainer {
  width: 100% !important
}

.titleContainer {
  background-color: #21AA47;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
}

.titleCopyContainer {
  text-align: center;
  padding-top: 15px
}

.titleCopy {
  color: #ffffff;
  font-size: 18px
}

.actionIcons {
  color: #ffffff
}


.danger {
  background-color: #BB2124;
}

.warning {
  background-color: #F0AD4E;
}

.actionButtonContainer {
  margin: 5px;
  width: 50px;
  height: 50px
}
